<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

{{#Todo}}
    <tr>
        <th>{{id}}</th>
        <td>{{work}}</td>
        <td>{{doAt}}</td>
        <td>{{importance}}</td>
    </tr>
{{/Todo}}
</body>
</html>