{{> layouts/header}}
<!--content-->
<table class="table">
    <thead>
    <tr>
        <th scope="col">id</th>
        <th scope="col">work</th>
        <th scope="col">doAt</th>
        <th scope="col">importance</th>
    </tr>
    </thead>
    <tbody>
    {{#Todo}}
        <tr>
            <th>{{id}}</th>
            <td>{{work}}</td>
            <td>{{doAt}}</td>
            <td>{{importance}}</td>
        </tr>
    {{/Todo}}
    </tbody>
</table>
{{> layouts/footer}}